div{
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.cloud-path{
  width: 100vw;
  position: absolute;
  top: 40px;
}
.moving-cloud{
  height: 80px;
  padding-top: 10px;
  animation: Cloud-drift-translate infinite 40s linear;
}
.landing-container, .search-container{
  width: 60%;
  margin: 0 auto;
}
input {
  width: 90%;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.log-form {
  width: 100%;
  min-width: 300px;
}

.log-btn {
  margin-top: 15px;
  padding: 10px 40px;
  background-color: #333;
  color: #fafafa;
  border-color: transparent;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  border-width: 2px;
  border-style: outset;
  margin-right: 4px;
  margin-left: 4px;
}

.log-btn:hover, .log-btn:focus {
  background-color: #666;
}

.log-btn:active {
  background-color: #fafafa;
  color: #333;
  border-color: #333;
}
.App-header {
  background-color: cadetblue;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-header h2{
  animation: Rainy-title-change infinite 40s steps(2, end);
}

.App-intro {
  font-size: large;
}
@keyframes Cloud-drift-translate {
  0% { transform: translateX(-40vw); }
  100% { transform: translateX(40vw); }
}
@keyframes App-logo-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes Rainy-title-change {
  30% {
    color: white;
  }
  50% {
    color: lightgrey;
  }
  70% {
    color: white;
  }
}

.app-content {
  position: relative;
  width: 100%;
  min-height: 50vh;
  min-width: 100vh;
  background-color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Veranda', sans-serif;
  color: #333;
}
.main-heading {
  color: #B10DC9;
  font-family: Skia;
  font-weight: normal;
}
.centered-card {
  background-color: aliceblue;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 8px 6px -8px #000; 
}
.five-day-forecast h3{
  margin-bottom: 0px;
}
.weather-card{
  width: 18%;
  padding-left: 1px;
  padding-right: 1px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.weather-icon{
  border: 0;
  height: 5em;
}
header{
 border-top: 0.5px solid aliceblue;
 border-bottom: 0.5px solid aliceblue;
}
.header-link-group{
  list-style-type: none;
  width: 100%;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  padding: 40px;
}
.header-link-group li{
  display:inline;
  padding-left: 15px;
  padding-right: 15px;
}
.header-link{
  display: inline;
}
.header-link a{
  text-decoration: none;
}
.search-history-wrap {
  height: 100px;
}
.search-history {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
}
section{
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 6px -8px #000; 
}

.loading-img {
  height: 6em;
  -webkit-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
}
.rain-chance{
  width: 50%;
  float: left;
  border-right: 1px solid black;
}
.tick{
  border-top: 1px solid black;
}
.start.tick{
  margin-right: 100px;
}
.end.tick{
  margin-left: 100px;
}
.mid.tick{

}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}